@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
html, body, #root {
  height: 100%;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}
@keyframes marquee-seamless {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-seamless {
  animation: marquee-seamless 12s linear infinite;
}

/* Efek glow tipis */
.animate-marquee-seamless span {
  text-shadow: 0 0 8px rgba(59, 130, 246, 0.6);
}
